@import url("https://fonts.googleapis.com/css?family=VT323");
@import 'assets/scss/video-bg.scss';
//@import '/assets/scss/image-bg';
@import 'assets/scss/buttons.scss';

body {
  margin: 0;
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1 {
  font-family: 'VT323', monospace ;
  font-size: 50px;
  margin: 0 0 15px 0;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  color: #dcdcdc;
  max-height: calc(90vh - 50px);
}
