<!--The content below is only a placeholder and can be replaced.-->
<div class="fullscreen">
  <video loop muted autoplay class="fullscreen-bg__video">
    <source src="/assets/bg.mp4" type="video/mp4">
  </video>

  <div class="wrapper">
    <div style="text-align:center">
      <h1>
        {{ title }}
      </h1>
    </div>
    <form class="form">
      <label for="temp">Temp: <b>{{temp}}</b></label>
      <input id="temp" name="temp" type="range" min="1" max="5" step=".1" [(ngModel)]="temp" [disabled]="submitted" />

      <label for="safety">Safety: <b>{{safety}}</b></label>
      <input id="safety" name="safety" type="range" min="1" max="5" step=".1" [(ngModel)]="safety" [disabled]="submitted" />

      <button class="btn primary" type="submit" (click)="submit()" [disabled]="submitted">Submit</button>
    </form>

    <ng-container *ngIf="results">
      <h4>Number of responses: {{ results.numResults }}</h4>
      <table class="temp-table">
        <tr>
          <td style="width: 80px;">Temp Low:</td>
          <td><b>{{ results.tempResults.min }}</b></td>
        </tr>
        <tr>
          <td style="width: 80px;">Temp High:</td>
          <td><b>{{ results.tempResults.max }}</b></td>
        </tr>
        <tr>
          <td style="width: 80px;">Temp Avg:</td>
          <td><b>{{ results.tempResults.avg | number:'1.0-2' }}</b></td>
        </tr>
      </table>
      <table class="safety-table">
        <tr>
          <td style="width: 85px;">Safety Low:</td>
          <td><b>{{ results.safetyResults.min }}</b></td>
        </tr>
        <tr>
          <td style="width: 85px;">Safety High:</td>
          <td><b>{{ results.safetyResults.max }}</b></td>
        </tr>
        <tr>
          <td style="width: 85px;">Safety Avg:</td>
          <td><b>{{ results.safetyResults.avg | number:'1.0-2' }}</b></td>
        </tr>
      </table>
      <p>
        <button class="btn tertiary" type="submit" (click)="clear()">Reset</button>
      </p>
    </ng-container>
  </div>
</div>
