.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

input[type="range"] {
  width: 100%;
}

table.temp-table {
  width: 50%;
  float: left;
}

table.safety-table {
  width: 50%;
  float: right;
}

table.homelife-table {
  padding-top: 15px;
  width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.btn.tertiary {
  margin-bottom: 0;
}

.true-confession {
  width: 100%;
  height: 80px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, .1);
  color: #dcdcdc;
}

.confessions {
  width: 100%;
}

.corner-ribbon{
  width: 300px;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  top: 55px;
  right: -71px;
  left: auto;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 1;
  position: fixed;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
