.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 300px;
}

input[type="range"] {
  width: 100%;
}

table.temp-table {
  width: 50%;
  float: left;
}

table.safety-table {
  width: 50%;
  float: right;
}

.btn.tertiary {
  margin-bottom: 0;
}
